.btn {
    border: 10px solid black;
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 20%;
}

.btn-container {
    display: flex;
    justify-content: center;
}

h1 , h2 {
    text-align: center;
}

.red {
    background-color: #f99b45;
}

.yellow {
    background-color: #d95980;
}

.green {
    background-color: #819ff0;
}

.purple {
    background-color: #63aac0;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: green;
}